body {
  background: #F8F8F8;
}

.sprites, .page-nav .pre-page a, .page-nav .next-page a {
  display: inline-block;
  background-image: url(../../../images/sprites.png);
  background-repeat: no-repeat;
}
/*content start*/
.content {
  width: 1150px;
  margin: 0 auto;
}

.col-left {
  float: left;
  width: 220px;
  min-height: 700px;
}

.col-right {
  float: left;
  width: 880px;
  margin: 0 0 0 50px;
  padding: 100px 0;
}
/*content end*/

/* nav start */
.nav {
  position: fixed;
  background: #FFFFFF;
  width:220px;
}
.nav a.logo {
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #FFFF33 ;
  text-decoration: none;
}
.nav .nav-label {
  position: absolute;
  top: 0;
  left: -7px;
  z-index: -1;
  width: 227px;
  height: 41px;
  display: none;
  background-color: #f8f8f8;
}

.nav .nav-label span {
  float: left;
  width: 7px;
  height: 100%;
  background-color: #ff5f3e;
}


.nav .nav-menu {
  position: relative;
  float: left;
  margin-top: 30px;
}

.nav .menu-primary {
  float: left;
  margin-left: 32px;
}

.nav .nav-menu li {
  float: left;
  border-top: 1px solid #f8f8f8;
}

.nav .nav-menu a {
  float: left;
  width: 165px;
  padding: 9px 0;
  color: #606566;
  font-size: 14px;
  line-height: 17px;
  text-indent: 7px;
}

.nav .nav-menu a:hover {
  color: #ff5f3e;
  text-decoration: none;
}

.nav .nav-menu .menu-sub a {
  font-size: 13px;
  text-indent: 39px;
}

.nav .nav-search {
  float: left;
  margin: 20px 0 36px 32px;
}

.nav .nav-search input {
  width: 129px!important;
  height: 18px!important;
  border: 0;
  border-radius: 2px;
  padding: 3px 2px 4px 25px;
  color: #606566;
  font-size: 12px;
  background-color: #efefef;
  background-position: 0 -654px;
  /*-webkit-transition: all .3s;*/
  /*-moz-transition: all .3s;*/
  /*-ms-transition: all .3s;*/
  /*-o-transition: all .3s;*/
  /*transition: all .3s;*/
}

.nav .nav-search input:hover {
  color: #FFFFFF;
  background-color: #ff5f3e;
  background-position: 0 -625px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


/* nav end */

/*START slider*/
.content-bd div, .content-bd li {
  background-color: #FFFFFF;
}
.content-bd .slider-ad {
  width: 100%;
  height: 320px;
  margin-bottom: 50px;
}
.content-bd .slider {
  float: left;
  width: 580px;
  height: 320px;
}
.content-bd .ad {
  float: left;
  width: 280px;
  height: 320px;
  margin-left: 20px;
}
/*END slider*/

/*START content list*/
.content-bd .post-list {
  margin-left: -20px;
}
.content-bd .post-list li {
  float:left;
  width: 280px;
  height: 230px;
  margin: 0 0 40px 20px;
}
/*END content list*/

/*START page nav*/
.page-nav .page {
  float: left;
  width: 41px;
  height: 41px;
  background-color: #EEEEEE;
}
.page-nav .page.page-pre {
  background-position: 0 0;
}

.page-nav .page.page-next {
  margin: 0 0 0 10px;
  background-position: 0 -99px;
}
/*END page nav*/

